h1,p{
    text-align:center;
    
  }
  body{
    font-family:Georgia;
    background-color:rgb(130,160,130);
    color:white;
    margin:20px auto;
    max-width:600px;
  }
  div{
    border:solid;
    border-radius:8px;
    }
   input{
     width:100%;
     margin:0.5px 0 10px 0;
  
   }
  label,input{
    display:block;  
  }
  form{
    margin:10px;
  }
  #dropdown{
    display:inline;
    margin:0 0 10px 0;
  }
  fieldset input{
   width: unset;
   display:inline;
   margin:0 4px 0 5px;
   vertical-align:center;
  }
  fieldset{
    margin:0 0 10px -14px;
    border:none;
  }
  fieldset label{
    display:inline;
  }
  textarea{
    display:block;
    margin: 0.5 0 10px 0;
    width:100%;
  }
  .sub{
    margin: 0 auto;
    width:25%;
    border-radius:15px;
  }
   .play{
     margin-top:-10px;
     margin-bottom:-3px;
   }
   